<%= link_to '« Back to past works', works_url() %>

<p id="notice"><%= notice %></p>

<%= image_tag @portfolio.image %>

<h1>
  <%= @portfolio.title %>
</h1>

<p>
  <%= @portfolio.description %>
</p>
