<ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
  <% @creatives.reverse_each do |creative| %>
    <li class="item">
      <div class="box-color">
        <%= link_to creative.url do %>
          <%= image_tag creative.image %>
        <% end %>
        <div class="text-overlay column">
          <%= link_to creative.url do %>
            <h3><%= creative.title %> </h3>
            <p class="d-inline"><%= creative.description %></p>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
