<div id="masonary-context">
  <% @creatives.reverse_each do |creative| %>
    <div class="item">
      <div class="box-color">
        <%= link_to creative.url do %>
          <%= image_tag creative.image %>
        <% end %>
        <div class="text-overlay column">
          <%= link_to creative.url do %>
            <h3><%= creative.title %> </h3>
            <p class="d-inline"><%= creative.description %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
