<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

  <%= render 'layouts/head' %>

  <body id="page">
    <div class="large-12">
      <%= render 'layouts/headdisplay' %>
    </div>
    <div class="row"></div>
    <div class="large-12">
      <section class="content large-9 medium-9 column large-push-3 medium-push-3">
        <%= yield %>
      </section><!--close content-->
      <%= render 'layouts/sidebar' %>
      <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
